
ul {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

div {
    margin: 0 auto;
    width: 50%;
    font-family: 'Roboto', sans-serif;

}
p {
    font-size: 24px;
    line-height: 32px;

}
h1 {
    font-weight: 100;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
}

h2 {
    font-weight: 100;
    margin: 0;
    font-size: 32px;
    line-height: 32px;
}

ul li {
    line-height: 26px;
    padding:10px;
    font-size: 20px;
}

ol li {
    font-size: 20px;
    line-height: 26px;
    padding:20px;
}
img {
    padding-bottom: 25px;

}
footer {
    padding: 25px;
    font-size: 20px;
    line-height: 26px;
    border: 4px;
    background-color: #def6ed;
}